@font-face {
  font-family: "dseg7_modernbold";
  src: url("/webodoro/assets/fonts/dseg7_modernbold.woff") format("woff"),
    url("/webodoro/assets/fonts/dseg7_modernbold.woff2") format("woff2");
}

body {
  display: grid;
  justify-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  min-height: 100vh;
  width: 100%;
  background-color: #fef9f8;
}

body.dark-mode {
  background-color: black;
}

 ul {
  /* display: flex;
  justify-content: center;
  list-style-type: none; */
  background-color: #ef9273;
} 

ul.dark-mode {
  background-color: #403f3f;
}

ul.dark-mode li:hover {
  background-color: #1f1e1e;
}

li {
  display: inline-block;
  padding: 10px 20px 10px 20px;
}

li a {
  color: white;
  text-decoration: none;
}

li:hover {
  background-color: #ffae93;
}

hr {
  border-top: 2px dashed #8c8b8b;
}

.fas:hover {
  color: rgb(255, 72, 0);
}

.navigation {
  width: 100%;
  text-align: center;
}

.bi {
  color: #fef9f8;
  font-size: 75px !important;
}

.pomodoro {
  width: 500px;
  height: 500px;
  border-radius: 5%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  background-color: #ef9273;
}

.rounded-container {
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 5px;
  border: 2px solid rgba(245, 245, 245, 0.185);
  border-radius: 25px;
  min-height: 40px;
  width: 330px;
}


.timer {
  display: grid;
  justify-content: center;
  align-items: center;
  font-size: 6em;
  font-family: 'dseg7_modernbold', normal;
  color: rgb(255, 255, 255);
}

.button-row {
  display: flex;
  justify-content: center;
  align-items: center;
}

.pomodoro-progress {
  display: grid;
  align-items: center;
  justify-content: center;
}

.settings-container {
  width: 25em;
  height: 25em;
  margin: auto;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  display: flex;
  border-radius: 25px;
  background-color: #fef9f8;
  
}

.settings-container.dark-mode {
  background-color: #403f3f;
}

.pomodoro.dark-mode {
  background-color:  #403f3f;
}

#stop-btn {
  display: none;
}